*.py[cod]
*.log
*.sh
*.pdf
*.png
*.so
.*.sw?
*.egg
*.html

basevar/*.c
basevar/caller/*.c
basevar/io/*.c
basevar/io/BGZF/*.c

dist/
build/
*.egg-info/
.DS_Store

venv/
.idea/
.ipynb_checkpoints/
trash/
basevar/caller/backup/
basevar/io/pysam_BGZF_trash/